<!DOCTYPE HTML>
<html xmlns:th = "http://thymeleaf.org" xmlns:sec="http://thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<title>Login</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
	
</head>
	<body>
		<div class="container">
			<h1>Login</h1>
			<div class="col-md-4 col-md-offset-4">
				<div class="alert alert-danger" th:if="${param.error}">
					Invalid username or password
				</div>
				<div class="alert alert-warning" th:if="${param.logout}">
					Successfully logged out
				</div>
				<form th:action="@{/login}" method="POST">
					<div><label>Username: <input type="text" name="username" class="form-control"/></label></div>
					<div><label>Password: <input type="password" name="password" class="form-control"/></label></div>
					<div><input type="submit" value="Sign in"/ class="btn btn-primary"></div>
				</form>
				<br>
				<a th:href="@{/signup}">Sign-up</a>
			</div>
		</div>
	</body>

</html>